In [2]:
%load_ext sql
%sql postgresql://postgres:123456@localhost/learn-fastapi

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Database Diagram
<img src="./docs/v5_Ally_database_diagram.png" width="760px">

#### Get all the users

In [3]:
%sql SELECT * FROM users AS u;

 * postgresql://postgres:***@localhost/learn-fastapi
2 rows affected.

[('admin@admin.com', '$2b$12$VZ9l4V6l/LRSV3PHYGMx8eFAWEpYVJADqOJ56bKLWNuBi12wLm4gq', 'admin', 'https://raw.githubusercontent.com/DNAnh01/assets/main/default_user_avatar.png', '', False, 'admin', UUID('e49fe220-b501-410e-ba72-409b821eca49'), datetime.datetime(2024, 4, 13, 22, 33, 23, 444802, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 22, 33, 23, 444802, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None),
 ('phuckarry634@gmail.com', 'sHLgUtYloTCtzPMyTkZi3g', 'Phúc Trần', 'https://lh3.googleusercontent.com/a/ACg8ocKpmmQwE7-OOw6FeHY4bF0AZCXuyK3JivAUFX5zMwNq3rrReY8i=s96-c', None, False, 'user', UUID('c3e07a78-5031-4397-8596-710e77ce8fde'), datetime.datetime(2024, 4, 13, 22, 34, 35, 704682, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 22, 34, 35, 704682, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None)]

#### Get subscription plan by user id

In [4]:
%sql SELECT * FROM user_subscriptions AS us

 * postgresql://postgres:***@localhost/learn-fastapi
1 rows affected.

[(UUID('e49fe220-b501-410e-ba72-409b821eca49'), UUID('db98f213-f2be-401e-882e-7efaf655a417'), datetime.datetime(2025, 4, 13, 22, 33, 23, 456379, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), UUID('bbbf6feb-6ff0-473a-8f0e-8039a23686fc'), datetime.datetime(2024, 4, 13, 22, 33, 23, 456379, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 22, 33, 23, 456379, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None)]

#### Test Sign In

In [7]:
%sql SELECT u.email AS email, s.created_at AS session_created_at, s.expires_at AS session_expires_at, s.deleted_at AS session_deleted_at FROM users AS u LEFT JOIN sessions AS s ON u.id = s.user_id;

 * postgresql://postgres:***@localhost/learn-fastapi
12 rows affected.

[('phuckarry634@gmail.com', datetime.datetime(2024, 4, 13, 22, 34, 35, 729389, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 23, 4, 35, 729389, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('phuckarry634@gmail.com', datetime.datetime(2024, 4, 13, 23, 8, 34, 939668, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 23, 38, 34, 939668, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('phuckarry634@gmail.com', datetime.datetime(2024, 4, 13, 23, 8, 52, 964732, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 23, 38, 52, 964732, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('phuckarry634@gmail.com', datetime.datetime(2024, 4, 13, 23, 9, 36, 69496, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 23, 39, 36, 69496, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('phuckarry634@gmail.com', datetime.datetime(2024, 4, 13, 23, 10, 27, 26774, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 23, 40, 27, 26774, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('phuckarry634@gmail.com', datetime.datetime(2024, 4, 13, 23, 10, 59, 193993, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 23, 40, 59, 193993, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('phuckarry634@gmail.com', datetime.datetime(2024, 4, 13, 23, 12, 21, 47351, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 23, 42, 21, 47351, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('tranvanphuc17112002@gmail.com', datetime.datetime(2024, 4, 19, 6, 55, 47, 103458, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 19, 7, 25, 47, 103458, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('tranvanphuc17112002@gmail.com', datetime.datetime(2024, 4, 19, 6, 57, 16, 657131, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 19, 7, 27, 16, 657131, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('tranvanphuc17112002@gmail.com', datetime.datetime(2024, 4, 19, 6, 59, 22, 351628, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 19, 7, 29, 22, 351628, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('tranvanphuc.dev.it.2002@gmail.com', datetime.datetime(2024, 4, 19, 7, 6, 56, 813860, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 19, 7, 36, 56, 813860, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('admin@admin.com', None, None, None)]